.area-profissional
    .login
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 10px
        +below($tablet)
            grid-template-columns 1fr
    .login-register
    .login-box
        border 1px solid #fff
        padding $rem(35)
        +mobile()
            padding 20px
    .login-register
        display flex
        flex-direction column
        p
            opensans 16
            color $marrom
            margin 0 0 1.5em
        .btn-cadastro
            border 1px solid $laranja
            background #fff
            opensans 18
            color $laranja
            flex 1
            width 100%
            display flex
            align-items center
            justify-content center
            min-height 96px
            transition color .3s, background .3s
            &:hover
                background $laranja
                color #fff
    .login-box
        p
            opensans 16
            color $marrom
            margin 0 0 .5em
            text-transform uppercase
        input
            display block
            width 100%
            height 50px
            color $marrom
            opensans 16
            padding 0 .8em
            border 0
            outline 0
            + input
                margin-top 5px
        input[type=submit]
            background $laranja
            color #fff
            font-weight bold
            cursor pointer
            border 2px solid $laranja
            transition background .3s, color .3s
            &:hover
                background transparent
                color $laranja
        .btn-esqueci
            display block
            text-align center
            opensans 12
            color $marrom
            margin-top 1em
            &:hover
                text-decoration underline
    .forgot-password
        .login-box
            max-width $rem(650)
            margin 0 auto
    .register
        .wrapper
            width 100%
            max-width $rem(650)
            margin 0 auto
        .register-box
            border 1px solid #fff
            padding 20px
            + .register-box
                margin-top 10px
            p
                opensans 16
                color $laranja
                margin 0 0 1em
                text-transform uppercase
            .row
                display grid
                grid-template-columns 96px 1fr
                grid-gap 10px
                + .row
                    margin-top 2px
                +mobile()
                    grid-template-columns 1fr
                    grid-gap 5px
                    + .row
                        margin-top 10px
                label
                    display flex
                    align-items center
                    justify-content flex-end
                    text-transform uppercase
                    opensans 13
                    color $marrom
                    +mobile()
                        display block
                input
                select
                    background #fff
                    height 24px
                    opensans 14
                    color $marrom
                    padding 0 8px
                    border 0
                    outline 0
                    &:disabled
                        background #eee
                        cursor wait
            .checkbox
                display flex
                align-items center
                opensans 14
                color $marrom
                input
                    flex-shrink 0
                    margin-right 10px
        input[type=submit]
            width 100%
            max-width $rem(400)
            height 50px
            background $laranja
            margin-top 20px
            color #fff
            cursor pointer
            border 2px solid $laranja
            opensans 16
            font-weight bold
            outline 0
            transition background .3s, color .3s
            &:hover
                background transparent
                color $laranja
