.area-profissional .orcamento
    > div
        width 100%
        max-width $rem(650)
        margin 0 auto
    .orcamento-vazio
        padding $rem(25)
        border 1px solid #fff
        opensans 16
        color $marrom
        line-height 1.5
    .orcamento-pedido
        p
            opensans 16
            text-transform uppercase
            color $marrom
            margin 0 0 1em
        .orcamento-btn
            display inline-block
            margin-top $rem(30)
            opensans 16 bold
            padding 1em 3.5em
            background $laranja
            border 2px solid $laranja
            color #fff
            outline 0
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background transparent
                color $laranja
        .orcamento-item
            border 1px solid #fff
            display flex
            align-items center
            + .orcamento-item
                border-top 0
            img
                width 70px
                height auto
                flex-shrink 0
                display block
            div
                display flex
                flex-direction column
                justify-content center
                padding 20px
                opensans 16
                color $marrom
                span
                    font-size $rem(12)
                    text-transform uppercase
                    margin-top 4px
                &.quantidade
                    border-left 1px solid #fff
                    align-self stretch
                    margin-left auto
                    width 72px
                    text-align center
                &.input-quantidade
                    display flex
                    align-items center
                    margin-left auto
                    border-left 1px solid #fff
                    align-self stretch
                    width 80px
                    padding 5px
                    flex-shrink 0
                    +mobile()
                        width 50px
                    input
                        width 100%
                        height 100%
                        text-align center
                        border 0
                        outline 0
                        opensans 15
                        color $marrom
                        background rgba(#fff, .75)
                        -moz-appearance textfield
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button
                            -webkit-appearance none
                            margin 0
            .btn-excluir
                display flex
                align-items center
                align-self stretch
                border-left 1px solid #fff
                opensans 16
                color $laranja
                padding 20px
                transition background .3s, color .3s
                &:hover
                    background $laranja
                    color #fff
                +mobile()
                    font-size 14px
                    padding 10px
            .btn-visualizar
                display flex
                align-items center
                margin-left auto
                align-self stretch
                border-left 1px solid #fff
                background transparent
                opensans 16
                color $laranja
                padding 20px
                cursor pointer
                outline 0
                transition background .3s, color .3s
                &:hover
                    background $laranja
                    color #fff
                +mobile()
                    font-size 14px
                    padding 10px
        textarea
            width 100%
            display block
            resize none
            margin-top $rem(20)
            height 140px
            border 0
            background #fff
            padding 1em
            opensans 15
            outline 0
            color $marrom
        .observacoes
            margin-top $rem(30)
            opensans 16
            color $marrom
            small
                font-weight bold
                display block
                margin-bottom .5em
                text-transform uppercase
