.area-profissional .relacionamento
    .wrapper
        width 100%
        max-width $rem(800)
        margin-left auto
    .titulo
        color $marrom
        h2
            opensans 16 bold
            margin 0
        p
            opensans 13
            margin 5px 0 0
    .saldo
        margin $rem(30) 0 $rem(40)
        .box
            display flex
            width 100%
            +below($tablet)
                display block
                .total
                .proximo
                    width 100%
        .total
            display flex
            flex-direction column
            width $rem(280)
            flex-shrink 0
            background $marrom
            padding 20px
            opensans 16
            color #fff
            text-align center
            > div
                border 1px solid $laranja
                width 100%
                flex 1
                display flex
                flex-direction column
                align-items center
                justify-content center
                text-align center
                opensans 24 bold
                padding 15px
                margin-top 10px
                span
                    display block
                    font-size $rem(36)
                +mobile()
                    font-size 18px
                    span
                        font-size 26px
        .proximo
            border 1px solid $laranja
            padding 10px
            flex 1
            display flex
            > div
                padding 10px
                flex 1
                +mobile()
                    padding 0
            img
                width 100%
                max-width $rem(210)
                align-self flex-start
                margin-left 15px
                +mobile()
                    max-width 120px
        .premio-atual
            margin 0 0 25px
            opensans 14
            color $marrom
            strong
                display block
                margin-bottom 4px
        .proxima-faixa
            opensans 12
            color $marrom
            font-style italic
            margin 0
    .chamada-regulamento
        padding-top $rem(40)
        position relative
        border-top 1px solid $marrom
        p
            opensans 16
            color $marrom
            margin 0 0 10px
    .btn-relacionamento
        display block
        width 100%
        max-width $rem(400)
        margin 0 auto
        border 1px solid $laranja
        opensans 16
        background $laranja
        color #fff
        text-align center
        padding .5em
        transition background .3s, color .3s
        &:hover
            background transparent
            color $laranja
        + .chamada-regulamento
            margin-top $rem(40)
    .extrato
        margin-bottom $rem(20)
        width 100%
        color $marrom
        border-collapse collapse
        th
            text-align left
            opensans 12
            padding-bottom 5px
        td
            border 1px solid #fff
            padding 8px
            opensans 16
            vertical-align top
        + .btn-relacionamento
            margin-bottom $rem(40)
    .regulamento
        font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
        color $marrom
        margin-top $rem(40)
        padding-top $rem(40)
        border-top 1px solid $marrom
        .btn-relacionamento
            margin-top $rem(40)
        h1
            opensans 16
        ul
            padding 0
            list-style-position inside
        .premios
            margin-top $rem(50)
            h1
                opensans 16 bold
                color $laranja
                margin 0 0 1em
        .premios-grid
            display grid
            grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
            grid-gap 1px
            .premio
                padding 10px
                box-shadow 0 0 0 1px $laranja
                p
                    opensans 12
                    margin 0 0 8px
                    strong
                        display block
                        opensans 14 bold
                img
                    width 100%
                    display block
        .regulamento-voltar
            display inline-block
            margin-top $rem(30)
            border 1px solid $laranja
            padding 1em 3.5em
            opensans 16
            color $laranja
            text-align center
            transition background .3s, color .3s
            &:hover
                background $laranja
                color #fff
