.area-profissional
    padding $rem(20) 0 $rem(65)
    .center
        display grid
        grid-template-columns 240px 1fr
        grid-gap 10px
        +mobile()
            grid-template-columns 1fr
            grid-gap 30px
    aside
        h2
            opensans 28
            text-transform uppercase
            color $laranja
            margin 0 0 1em
            line-height 1.4
            &:last-child
                margin-bottom 0
        nav
            display flex
            flex-direction column
            a
                opensans 14 bold
                color $laranja
                text-transform uppercase
                + a
                    margin-top 1em
                &.active
                &:hover
                    color $marrom

    .flash
        display block
        padding 1.5em
        opensans 13
        text-transform uppercase
        color #fff
        margin-bottom 1em
        line-height 1.5
        &.flash-error
            background #e74c3c
        &.flash-success
            background #18bc9c

.area-profissional-imagem
    width 100%
    height $rem(510)
    background-size cover
    background-position center
    +mobile()
        display none

.header-profissional
    background $marrom
    + div header
        border-top 0
    .center
        display flex
        align-items center
        justify-content flex-end
        p
            margin 0
            padding .4em 0
            opensans 14
            color #fff
            margin-right 1.5em
        a
            align-self stretch
            display flex
            align-items center
            border-left 1px solid #fff
            border-right 1px solid #fff
            padding 0 1em
            opensans 16
            color #fff
            transition background .3s
            &:hover
                background $laranja
            + a
                border-left 0
            &.btn-logout span
                width 16px
                height 16px
                border 1px solid #fff
                border-radius 50%
                margin-left 4px
                position relative
                &:before
                &:after
                    content ''
                    position absolute
                    width 1px
                    height 10px
                    top 50%
                    left 50%
                    background #fff
                &:before
                    transform translate(-50%, -50%) rotate(45deg)
                &:after
                    transform translate(-50%, -50%) rotate(-45deg)

.indicador-orcamento
    position fixed
    right 0
    top 140px
    z-index 102
    border-radius 5px 0 0 5px
    width 340px
    cursor pointer
    padding 30px
    padding-right 90px
    color #fff
    transition all .3s
    background $img('icone-orcamento.png') no-repeat 30px 33px $laranja
    +mobile()
        top 175px
        width 300px
    span
        transition opacity .3s
    span.subtitulo
        display block
        padding-left 30px
        opensans 12 bold
    span.titulo
        display block
        opensans 14 bold
        margin-top 15px
        line-height 1.4
    span.fechar
        position absolute
        width 30px
        height 30px
        top 10px
        right 20px
        &:before
        &:after
            content ''
            position absolute
            left 7px
            top 12px
            width 14px
            height 2px
            background #fff
        &:before
            transform rotate(45deg)
        &:after
            transform rotate(-45deg)
    &.closed
        height 40px
        padding 0
        transform unquote('translateX(calc(100% - 60px))')
        background-position 20px center
        span
            opacity 0
            visibility hidden

.profissional-home
    > div
        width 100%
        max-width $rem(800)
        margin-left auto
    .texto
        opensans 16
        color $marrom
        line-height 1.5
    img
        display block
        max-width 100%
        margin-top $rem(30)
