.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.social
    display flex
    a
        font-size 0
        height 16px
        background-repeat no-repeat
        + a
            margin-left 7px
        &.facebook
            width 7px
            background-image $img('ico-fb.svg')
            &:hover
                background-image $img('ico-fb-active.svg') !important
        &.instagram
            width 16px
            background-image $img('ico-instagram.svg')
            &:hover
                background-image $img('ico-instagram-active.svg') !important
        &.pinterest
            width 12px
            background-image $img('ico-pinterest.svg')
            &:hover
                background-image $img('ico-pinterest-active.svg') !important
        &.twitter
            width 17px
            background-image $img('ico-twitter.svg')
            &:hover
                background-image $img('ico-twitter-active.svg') !important
    &.social-home
        a
            &.facebook
                background-image $img('ico-fb-light.svg')
            &.instagram
                background-image $img('ico-instagram-light.svg')
            &.pinterest
                background-image $img('ico-pinterest-light.svg')
            &.twitter
                background-image $img('ico-twitter-light.svg')

.filtros
    display flex
    align-items center
    +mobile()
        display block

.radio
    display flex
    align-items center
    cursor pointer
    + .radio
        margin-left 22px
    input
        display none
    span
        opensans 14
        color $marrom
        text-transform uppercase
    +mobile()
        + .radio
            margin 8px 0 0
    .custom-radio
        width 16px
        height 16px
        border 1px solid $marrom
        background #fff
        border-radius 50%
        position relative
        margin-right 10px
        &:after
            content ''
            display none
            position absolute
            width 8px
            height 8px
            background $marrom
            left 50%
            top 50%
            transform translate(-50%, -50%)
            border-radius 50%
    input:checked + .custom-radio:after
        display block


