desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$cinzaBg = #EBEBEB
$marrom  = #897967
$texto   = #3d322d
$laranja = #FDB524
$laranjaTexto = #FFAA00

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Open+Sans:400,700&display=swap')

montserrat($size, $weight = normal)
    font-size $rem($size)
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 800

opensans($size, $weight = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
