.painel-login {
    background: linear-gradient(90deg, #185a9d 10%, #43cea2 120%);

    .login {
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        margin: 100px auto 0;
        float: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

        +below(768px) {
            margin-top: 30px;
        }
    }

    .input-group {
        margin-bottom: 5px;
    }

    h3 {
        margin: 0 0 30px;

        small {
            display: block;
            margin-top: 10px;
        }
    }
}

td {
    vertical-align: middle !important;
}

.cke {
    border: 2px solid #dce4ec !important;
    border-radius: 4px;
    transition: border 0.3s !important;
}

.cke_editable {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
}

.cke_focus {
    border-color: #2c3e50 !important;
}

.multiselect {
    text-align: left !important;
}

.bootstrap-tagsinput {
    width: 100%;
    display: block;
    font-size: 14px;
    border: 2px solid #dce4ec;
    box-shadow: none;
    padding: 10px;

    &.focus {
        border-color: #2c3e50;
    }
}

.tt-cursor {
    background: #ddd;
}

.filtros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .titulo {
        font-size: 14px;
        margin: 0 15px 0 0;
    }

    .filtro {
        width: auto;
        border: 2px solid #18bc9c;
        background-color: #18bc9c;
        border-radius: 5px;
        padding: 5px 10px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 5px 0 0;
        font-size: 12px !important;

        &:focus, &:hover, &.active {
            border: 2px solid #13967d;
            background-color: #13967d;
        }

        &.todos {
            border: 2px solid #95a5a6;
            background-color: #95a5a6;

            &:focus, &:hover, &.active {
                border: 2px solid #6d8082;
                background-color: #6d8082;
            }
        }
    }
}