.blog
    margin $rem(35) auto $rem(120)
    .center
        display flex
        justify-content space-between
    aside
        width $rem(280)
        a
            opensans 14
            display block
            color $marrom
            + a
                margin-top .6em
            &.active
            &:hover
                font-weight bold
        .anos
            margin $rem(48) 0
        .meses
            margin $rem(10) 0 $rem(40)
        .tags
            h2
                opensans 14 bold
                color $marrom
                margin 0 0
            a
                display inline-block
                &:not(:last-child):after
                    content '\00b7'
                    font-weight normal
    main
        width $rem(800)
    .link-topo
        display inline-block
        color $marrom
        opensans 12
        text-transform uppercase
        background $img('seta-blog.png') no-repeat left center
        padding-left 24px
        &:hover
            font-weight bold
    .pagination
        border-top 2px solid $marrom
        margin-top 10px
        padding-top 10px
        display flex
        a
            opensans 12
            color $marrom
            text-transform uppercase
            position relative
            &:before
                content ''
                width 17px
                height 14px
                background $img('seta-blog.png') no-repeat center
                position absolute
                top 0
            &:hover
                font-weight bold
            &.prev
                margin-right auto
                padding-left 26px
                &:before
                    left 0
                    transform rotate(-90deg) translateX(-.5px)
            &.next
                margin-left auto
                padding-right 26px
                &:before
                    right 0
                    transform rotate(90deg) translateX(-.5px)
    .post
        display block
        width 100%
        margin-bottom $rem(50)
        color $marrom
        h2
            text-transform uppercase
            opensans 14
            border-bottom 1px solid $marrom
            margin 0 0 5px
            padding-bottom 3px
        h3
            display flex
            justify-content space-between
            margin 0
            span
                color $marrom
                opensans 10
                &:last-child
                    text-transform uppercase
        img
            max-width 100%
            display block
            margin-top 20px
    a.post:hover h2
        font-weight bold
    .post-content
        opensans 15
        color $marrom
    .post-tags
        opensans 12
        color $marrom
        line-height 1.5
        margin $rem(40) 0
        a
            display inline-block
            &:hover
                font-weight bold
            &:not(:last-child):after
                content '\00b7'
                font-weight normal
    .post-comentarios
        margin-bottom $rem(40)
        color $marrom
        h3
            border-bottom 2px solid $marrom
            opensans 14
            text-transform uppercase
            padding-bottom 4px
            margin-bottom 10px
        input
            width 100%
            display block
            border 0
            border-bottom 1px solid $marrom
            opensans 12
            color $marrom
            outline 0
            padding 5px 0
            + input
                margin-top 5px
            &[type=submit]
                max-width 220px
                height 28px
                border 0
                background $marrom
                font-weight bold
                color #fff
                text-transform uppercase
                transition background .3s
                text-align left
                padding 0 10px
                cursor pointer
                &:hover
                    background $laranja
        p
            opensans 10
            &.enviado
                font-size $rem(12)
        .comentarios
            &:before,
            .comentario:after
                content '.....'
                padding 25px 0
                opensans 12
                color $marrom
                display block
        .comentario
            opensans 13
            color $marrom
            line-height 1.5
    +below($tablet)
        margin $rem(45) auto
        aside
            width $rem(200)
            flex 0 0 $rem(200)
            margin-right $rem(45)
        .post
            margin-bottom $rem(30)
    +mobile()
        aside
            display none
