.catalogo
    padding $rem(30) 0 $rem(60)
    +below($tablet)
        padding $rem(20) 0 $rem(30)

.catalogo-index
    .resultados
        color #666
        opensans 14
        margin 0 0 1em
    .top-bar
        display flex
        justify-content space-between
        align-items center
        margin-bottom $rem(55)
        h2
            opensans 16 bold
            color $laranjaTexto
            margin 0
            text-transform uppercase
            cursor default
            a
                cursor pointer
                font-weight bold
                &:hover
                    color $marrom
        .form-busca
            margin-left $rem(80)
            flex-shrink 0
            display flex
            align-items center
        form
            display flex
            align-items center
            position relative
            input[type=text]
                width $rem(300)
                display block
                background #F6F6F6
                border 0
                height 30px
                padding 0 10px
                padding-right 35px
                opensans 14
                color $marrom
                outline 0
                margin-left 35px
                margin-right 15px
            button
                width 22px
                height 22px
                background $img('icone-lupa.png') no-repeat center
                border none
                outline 0
                cursor pointer
                flex-shrink 0
        +below($tablet)
            flex-direction column
            align-items flex-start
            .form-busca
                margin $rem(20) 0 0
                width 100%
                flex-wrap wrap
                .filtros
                    width 100%
                    margin-bottom 10px
                input[type=text]
                    margin-left 0
                    width auto
                    min-width 0
                    flex-shrink 1

.catalogo .produtos
    width 100%
    margin 0 auto
    display grid
    grid-template-columns repeat(auto-fill, 220px)
    grid-gap 3px
    max-width calc('100vw - 50px')
    justify-content center
    +below($tablet)
        grid-template-columns repeat(auto-fill, minmax(220px, 1fr))
        max-width 90%
    a
        display block
        width 100%
        height 0
        padding-bottom 100%
        position relative
        font-size 0
        .imagem
        .overlay
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background-size cover
        &:hover .overlay
            opacity 1
        .overlay
            background rgba($laranja, .85)
            opacity 0
            transition .3s
            display flex
            align-items center
            justify-content center
            padding 20px
            text-align center
            span
                opensans 12
                color #fff
                line-height 1.5
    &.produtos-small
        grid-template-columns repeat(auto-fill, minmax(110px, 1fr))
        a
            display none
            &.visible
                display block
            .overlay
                &:before
                    height 50px
                &:after
                    width 50px

.catalogo
    .mais-opcoes
        margin-top $rem(110)
        padding-top $rem(50)
        border-top 1px solid $laranja
        text-align center
    .btn-ver-mais
        display block
        width 132px
        height 40px
        border 1px solid $laranja
        margin 30px auto 0
        opensans 16
        color $laranjaTexto
        display flex
        align-items center
        justify-content center
        transition background .2s, color .2s
        &:hover
            background $laranja
            color #fff
    h3
        display block
        opensans 16
        color $laranjaTexto
        margin 0 0 2em
        text-transform uppercase
        cursor default
        a
            cursor pointer
            font-weight bold
            &:hover
                color $marrom
    .produto
        display flex
        .left
            width $rem(700)
            margin-right 10px
            img
                width 100%
                display block
                margin-bottom 25px
                &.no-margin
                    margin-bottom 0
            h1
                opensans 16
                color $marrom
                margin 0
            p
                opensans 13
                color $marrom
                margin 5px 0 0
                span
                    display block
                    text-transform uppercase
            .descritivo
                opensans 16
                color $marrom
                margin-top 1em
            .btn-adicionar-orcamento
                display inline-block
                margin-top $rem(30)
                border 1px solid $laranja
                padding 1em 3.5em
                opensans 12 bold
                color $laranja
                transition background .3s, color .3s
                text-align center
                line-height 1.5
                span.active
                    display none
                &:hover
                &.active
                    background $laranja
                    color #fff
                &.active
                    span
                        display none
                        &.active
                            display inline
                &.sending
                    cursor progress
            .exibicao-funcionario
                display grid
                grid-template-columns 200px 1fr
                grid-gap 20px
                +mobile()
                    grid-template-columns 1fr
                > img
                    width 100%
                    max-width 200px !important
                    margin 0
                    padding 30px
                    background #fff
                    align-self start
                > div
                    padding-top 20px
                    +mobile()
                        padding 0
                .titulo
                    opensans 16 bold
                    margin 1em 0 0
                .marca
                    opensans 12 bold
                    margin 5px 0
                .descritivo
                    margin-top 0
                ul
                    padding 0
                    list-style-type none
                    opensans 15
                    color $marrom
                    li
                        position relative
                        padding-left 1em
                        line-height 1.5
                        &:before
                            content '\00b7'
                            position absolute
                            left 0
                    li + li
                        margin-top .3em
                    ul
                        margin-top .3em
        .right
            width $rem(400)
            img
                width 100%
                display block
                + img
                    margin-top 10px
        +below(600px)
            flex-direction column
            .left
            .right
                width 100%
                img
                    max-width 100% !important
            .right
                margin-top $rem(35)

#container-3d
    width 100%
    height 700px
    margin 20px 0 0
    +tablet()
        height 500px
    +mobile()
        height 380px
