.contato
    margin 0 auto $rem(50)
    .enderecos
        display grid
        grid-template-columns 430px 1fr
        grid-gap 20px
        margin-bottom $rem(60)
        +tablet()
            grid-template-columns 300px 1fr
        +mobile()
            display block
        nav
            padding-top $rem(50)
            +mobile()
                padding-top $rem(30)
            a
                position relative
                display block
                opensans 16
                color $marrom
                padding-right 20px
                + a
                    margin-top 1em
                span
                    position relative
                    display inline-block
                    padding-right 10px
                    background $cinzaBg
                    z-index 2
                &.active
                    font-weight bold
    .mapa
        width 100%
        height $rem(360)
        padding-top $rem(50)
        +mobile()
            padding-top $rem(30)
        iframe
            display block
            width 100%
            height 100%
    form
        width 100%
        max-width 400px
        p
            opensans 18
            color $marrom
            margin 0 0 1em
        input
        textarea
            background #F3F3F3
            display block
            width 100%
            height 22px
            padding 0 10px
            outline 0
            border 0
            opensans 14
            margin-bottom 5px
            +placeholder()
                color $marrom
        textarea
            height 100px
            padding 8px 10px
            resize none
        input[type=submit]
            width auto
            height auto
            margin-left auto
            background $laranja
            color #ffffff
            cursor pointer
            transition background .3s
            opensans 14 bold
            padding 6px 25px
            text-transform lowercase
            &:hover
                background lighten($laranja, 12)
        .flash
            margin-bottom 10px
            padding 15px
            opensans 12
            text-transform uppercase
            color #fff
            &.flash-sucesso
                background #68b87c
            &.flash-erro
                background #b86868
