.designers
    margin $rem(35) auto $rem(120)
    +mobile()
        margin $rem(45) auto
    > p
        display block
        max-width 90%
        color $texto
        text-align center
        opensans 15
        margin 0 auto 1.5em

.designers-thumbs
    width 100%
    margin 0 auto
    display grid
    grid-template-columns repeat(auto-fill, 212px)
    grid-gap 3px
    max-width calc('100vw - 50px')
    justify-content center
    +mobile()
        max-width 90%
    a
        display block
        img
            display block
            width 100%
            height auto
            transition opacity .3s
        span
            display block
            padding 5px 0 5px 5px
            opensans 14
            color $texto
            transition color .3s
        &:hover
            img
                opacity .8
            span
                color $laranjaTexto

.designers-show
    margin $rem(50) auto $rem(120)
    .center
        display flex
    .designer
        flex 0 0 210px
        width 210px
        img
            display block
            width 100%
            height auto
        span
            display block
            padding 5px 0 5px 5px
            opensans 14
            color $texto
    .texto
        flex 1
        margin 0 30px
        p
            opensans 14
            color $texto
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .imagens
        width 410px
        flex 0 0 410px
        align-self flex-start
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items flex-start
        a
            display block
            width calc('50% - 2.5px')
            margin-bottom 5px
            img
                display block
                width 100%
                height auto
                transition opacity .3s
            &:hover img
                opacity .8
    +tablet()
        margin $rem(50) auto $rem(85)
        .center
            flex-wrap wrap
        .imagens
            width 100%
            flex 1 1 100%
            margin-top $rem(45)
            a
                width calc('33.333% - 3.333px')
            img
                max-width 100%
    +mobile()
        margin $rem(45) auto
        .center
            flex-direction column
        .designer
            flex-basis auto
            span
                padding-left 0
        .texto
            margin $rem(30) 0
        .imagens
            width 100%
            flex 1 1 100%
