.perfil
    margin $rem(50) auto $rem(65)
    display grid
    grid-template-columns 1fr 1.125fr
    grid-gap $rem(50)
    .texto
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        p
            opensans 16
            color $marrom
        h3
            margin 1.5em 0
            opensans 24
            font-style italic
            line-height 1.8
            color $marrom
    .imagem
        img
            display block
            max-width 100%
    +mobile()
        display block
        .imagem
            margin-top $rem(45)
